@font-face {
    font-family: 'Northwell Alt';
    src: url('NorthwellAlt.woff2') format('woff2'),
        url('NorthwellAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

